* {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

body {
    background-color: #000;
}


h1 {
    font-size: 3.125rem;
    color: white;
}

h2 {
    font-size: 2.625rem;
    font-weight: 300;
    color: white;
}

p {
    font-size: 1.3125rem;
    color: gray;
}

.footer {
    text-align: right;
    padding-right: 1rem;
}